---
- name: check if satis is installed
  stat: path="{{ satis_installation}}"
  register: satis_installed

- name: install satis
  composer:
    command: "create-project"
    arguments: "composer/satis --stability=dev --keep-vcs"
    working_dir: "{{ satis_user_home }}"
  become: yes
  become_user: "{{ satis_user }}"
  when: satis_installed.stat.exists == false

- name: configure composer to ignore ssl
  composer:
    command: "config"
    arguments: "-g secure-http false"
    working_dir: "{{ satis_user_home }}"
  when: satis_composer_ignore_secure_http
  become: yes
  become_user: "{{ satis_user }}"

