 {
   "__comment": "{{ ansible_managed }}",
   "name": "sfp satis repository",
   "homepage": "http://satis.infrastructure.sfp.intern",
   "repositories": [
      {
         "type": "composer",
         "url": "https://packagist.org"
      }
      {% for item in satis_private_repos %}
      ,{
          "type": "{{ item.type }}",
          "url": "{{ item.url }}"
      }
      {% endfor %}
   ],
   "require": {{ satis_all_dependencies | to_nice_json }},
   "require-dependencies": true,
   "archive": {
      "directory": "dist",
      "format": "zip",
      "skip-dev": {{ satis_skip_dev | to_json }}
   }
 }
