 {
   "name": "{{ satis_repo_name }}",
   "homepage": "{{ satis_repo_host }}",
   "repositories": {{ satis_repos | to_nice_json }},
   "require": {{ satis_all_dependencies | to_nice_json }},
   "require-dependencies": true,
   "archive": {
      "directory": "dist",
      "format": "zip",
      "skip-dev": {{ satis_skip_dev | to_json }}
   }
 }
